<div id="footer">
  <p>
    <a href="http://www.facebook.com/elemel.se"><img src="/images/facebook-icon.png" alt="Mikael Lind on Facebook"/></a>
    <a href="http://www.linkedin.com/in/mikaellind" ><img src="/images/linkedin-icon.png" alt="Mikael Lind on LinkedIn"></a>
    <a href="http://twitter.com/elemel"><img src="/images/twitter-icon.png" alt="Mikael Lind on Twitter"/></a>
    <a href="http://www.last.fm/user/elemel"><img src="/images/lastfm-icon.png" alt="Mikael Lind on Last.fm"/></a>
  </p>
</div>
