<div id="footer">
  <div class="contact">
    Mikael Lind<br/>
    <a href="mailto:elemel@elemel.se">elemel@elemel.se</a><br/>
    <a href="http://elemel.se/">http://elemel.se/</a>
  </div>
  <div class="badges">
    <a href="http://www.facebook.com/elemel.se"><img src="http://badge.facebook.com/badge/596367363.5207.242061006.png" alt="Mikael Lind on Facebook"/></a>
    <a href="http://twitter.com/#!/elemel"><img src="http://twitter-badges.s3.amazonaws.com/follow_me-b.png" alt="Follow me on Twitter"/></a>
  </div>
  <div class="clears"></div>
</div>
