html {
    background-color: #000;
    color: #ccc;
}

body {
    width: 48em;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Georgia, serif;
}

h1, h2, h3 {
    text-align: left;
}

h1, h2, h3, strong, .date {
    color: #9ff;
}

#ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

img {
    border: 0;
}

.date {
    font-size: small;
}

#header p, #footer p {
    margin: 0;
}

#footer p + p {
    margin-top: 1em;
}

#header {
    padding: 1em;
}

#header a, #header strong {
    color: #9f0;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#content a {
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

#content {
    border: 2px solid #f90;
    background-color: #000;
    padding: 1em;
    border-radius: 0.5em;
}

#footer {
    padding: 1em;
    text-align: center;
}

#footer img {
    vertical-align: middle;
    margin: 0 0.5em;
}

.contact {
    float: left;
}

.clears {
    clear: both;
}

.posts {
    list-style-type: none;
    padding-left: 0;
}

pre {
    overflow: auto;
}

.terminal {
    color: white;
    background-color: black;
    padding: 0.5em;
}

a:link {
    color: #ff0;
}

a:visited {
    color: #fc0;
}

a:active, #header a:active, #header strong:active {
    color: #f00;
}
