html {
    -webkit-text-size-adjust: none;
}

body {
    width: 100%;
    margin: 0;
    font: 13px/20px Georgia, serif;
}

img {
    max-width: 100%;
}

#footer img {
    max-width: 40px;
}

#content {
    border-width: 1px 0;
    border-radius: 0;
}

#ribbon {
    display: none;
}
