body {
    width: 40em;
    margin: 2em auto;
    text-align: justify;
    line-height: 1.5;
}

h1, h2, h3 {
    text-align: left;
}

#ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

img {
    border: 0;
}

#header, #footer, .date {
    font-size: small;
    text-transform: uppercase;
}

#header {
    margin-bottom: 2em;
}

#footer {
    margin-top: 2em;
}

.posts {
    list-style-type: none;
    padding-left: 0;
}

pre {
    overflow: auto;
}

.terminal {
    color: white;
    background-color: black;
    padding: 0.5em;
}
