body {
    width: 40em;
    margin: 2em auto;
    text-align: justify;
}

h1, h2, h3 {
    text-align: left;
}

#ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

#ribbon img {
    border: 0;
}

#header, #footer, .date {
    font-size: small;
    text-transform: uppercase;
}

#header {
    margin-bottom: 2em;
}

#footer {
    margin-top: 2em;
}

.posts {
    list-style-type: none;
    padding-left: 0;
}
