<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% if page.title == 'Mikael Lind' %}
      <title>Mikael Lind</title>
    {% else %}
      <title>{{ page.title }} | Mikael Lind</title>
    {% endif %}
    <meta name="author" content="Mikael Lind" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/iphone.css"
          media="only screen and (max-device-width: 480px)" />
    <link href="http://feeds.feedburner.com/elemel" rel="alternate"
          title="Mikael Lind" type="application/atom+xml"/>
    <meta name="viewport" content="maximum-scale=1.0, width=device-width, initial-scale=1.0, user-scalable=no">
  </head>
  <body>
    {% include ribbon.html %}
    {% include header.html %}
    <div id="content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    {% include footer.html %}
    {% include google-analytics.html %}
  </body>
</html>
