<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} | Mikael Lind</title>
    <meta name="author" content="Mikael Lind" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="ribbon"><a href="http://github.com/elemel"><img src="/images/fork-me-on-github.png" alt="Fork me on GitHub" /></a></div>
    <div id="header">
      <a href="/">Mikael Lind</a> |
      <a href="/family.html">Family</a> |
      <a href="/blog.html">Blog</a> |
      <a href="/rocks.html">Rocks</a>
    </div>
    {{ content }}
    <div id="footer">
      &copy; 2008 Mikael Lind |
      <a href="contact.html">Contact Details</a> |
      <a href="http://validator.w3.org/check/referer">Valid HTML</a> |
      <a href="http://jigsaw.w3.org/css-validator/check/referer/">Valid CSS</a>
    </div>
  </body>
</html>
